{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="w3-container">
        <div class="w3-container w3-margin-bottom">
            <div class="w3-container w3-margin">
                <div class="w3-row-padding w3-content" style="max-width:1200px">
                        <h2>EAI Lab</h2>
                        <p>The EAI lab is currently searching for highly-disciplined students (PhDs, Masters, and Undergraduates) to work with me in the areas of evolutionary computation, machine learning, and security.</p>

                        <br>
                        <h2>Second Year MS Students (Fall 2024)</h2>
                        <div class="w3-row">
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '113522059.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">陳奕昕</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '113522150.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">陳致宇</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                        </div>
                        <br>
                        <div class="w3-row">
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '113522136.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">詹勳憲</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '113525017.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">李泳睿</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>

                            </div>
                        </div>
                        <br>
                        <div class="w3-row">
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '113526018.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">江至中</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                        </div>
                        <br>

                        <h2>First Year MS Students (Fall 2025)</h2>
                        <div class="w3-row">
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '114522018.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">李宗仁</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '114522026.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">洪崇祐</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                        </div>
                        <br>
                        <div class="w3-row">
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '114522127.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">盧宸立</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '114522134.png' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">呂紀緯</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                        </div>
                        <br>
                        <div class="w3-row">
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '114522128.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">蔡佩樺</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                            <div class="w3-col m2">
                                <img class="w3-image img_box" src="{% static '114522135.jpg' %}">
                            </div>
                            <div class="w3-col m3 w3-container">
                                <h3 style="margin-top: 6px">王凱德</h3>
                                M.S. Student<br>
                                Department of Computer Science and Information Engineering<br>
                                National Central University<br>
                                <br>

                            </div>
                        </div>

                </div>
            </div>
        </div>
</div>

{% endblock %}